<h1>Books</h1>
<p>There are <%= @books.size %> available as of <%= formatted_time(@available_at) %>:</p>
<ol>
<% @books.each do |book| %>
	<li><i><%= link_to(book.title, book) %></i> by <%= book.author %></li>
<% end %>
</ol>